body{
margin:0;
font-family:Arial;
text-align:center;
color:white;
background:black;
overflow:hidden;
}

.container{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
z-index:2;
}

button{
padding:12px 25px;
font-size:18px;
background:gold;
border:none;
border-radius:20px;
cursor:pointer;
}

button:hover{
background:orange;
}

#bgVideo{
position:fixed;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
z-index:-1;
}